<div class="row">
  <div class="col-md-4 offset-md-4 col-sm-6 offset-sm-3">
    <div class="card auth">
      <div class="card-body auth-card">
        <div class="auth-avatar">
          <img
            src="https://pluspng.com/img-png/user-png-icon-account-avatar-human-male-man-men-people-person-download-svg-download-png-edit-icon-512.png"
            alt="user" class="user-image">
        </div>
        <form class="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="course">Course Department : </label>
            <input type="text" name="course" class="form-control" placeholder="Course Department"
                   formControlName="course">
            <span class="text-danger" *ngIf="(course?.touched || submitted) && course?.errors?.required"> Course is required
            </span>
          </div>
          <div class="form-group">
            <label for="phone">Start Date : </label>
            <input type="date" name="startDate" class="form-control" formControlName="startDate">
            <span class="text-danger" *ngIf="(startDate?.touched || submitted) && startDate?.errors?.required"> Start Date is required
            </span>
          </div>
          <div class="form-group">
            <label for="email">End Date : </label>
            <input type="date" name="endtDate" class="form-control" formControlName="endDate">
            <span class="text-danger" *ngIf="(endDate?.touched || submitted) && endDate?.errors?.required"> End Date is required
            </span>
            <span class="text-danger" *ngIf="(endDate?.touched || submitted) && endDate?.errors?.endDateLimit"> End Date Should be after Start Date
            </span>
          </div>
          <div class="form-group">
            <label for="university">University : </label>
            <input type="text" name="university" class="form-control" placeholder="University"
                   formControlName="university">
            <span class="text-danger" *ngIf="(university?.touched || submitted) && university?.errors?.required"> University is required
            </span>
          </div>
          <div class="text-center">
            <input type="submit" class="btn btn-my" value="Store as PDF">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
